@import "tailwindcss";

@layer base {
  * {
    border-color: rgba(255, 255, 255, 0.08);
  }
  body {
    background-color: #090d12;
    color: #f3f4f6;
    font-family: 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
  }
  code, pre, .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
}

/* Custom scrollbars for high data density admin tables */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #090d12;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
